<!DOCTYPE html>
<html>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<body>
<div class="container">

<h1>All Books</h1>
<table class="table table-bordered table-striped">
<thead>
<tr>
<th>Name</th>
<th>Authors</th>
<th>Genre</th>
</tr>
</thead>
<tbody>
{% for book in books %}
    <tr>
        <td><b>{{ book.name }}</b></td>
        <td><b>
            {% for author in book.authors.all %}
               <div> {{ author }}, </div>
            {% endfor %}
        </b></td>
        <td><b>{{ book.genre.name }}</b></td>
    </tr>
{% endfor %}
</tbody>
</table>

</div>
</body>
</html>
